ansible==2.2.1.0
aspy.yaml==0.2.2
cached-property==1.3.0
cffi==1.9.1
cryptography==1.3.4
idna==2.2
Jinja2==2.8.1
jsonschema==2.5.1
MarkupSafe==0.23
nodeenv==1.1.0
paramiko==2.1.1
pre-commit==0.18.2
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
PyYAML==3.12
six==1.10.0
virtualenv==15.1.0
